<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/36abd084fe.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/36abd084fe.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="toggle" onclick="toggleMenu()"></div>
    <script src="scrips.js"></script>

    <div class="columns" id="app">
        <div class="column is-1">
            <div class="nav">
                <ul>
                    <li>
                        <a href="index.html">
                            <span class="icon"><i class="fa-solid fa-store"></i></i></span>
                            <span class="title">สินค้าในสต็อก</span>
                        </a>
                    </li>
                    <li>
                        <a href="purchase_history.html">
                            <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
                            <span class="title">การนำเข้าสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="sale_history.html">
                            <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                            <span class="title">การขายสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="customer.html">
                            <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <span class="title">ข้อมูลลูกค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="warehouse.html">
                            <span class="icon"><i class="fa-solid fa-warehouse"></i></span>
                            <span class="title">คลังสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                            <span class="title">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="column is-11">
            <section id="app">
                <h1 class="has-text-weight-semibold is-size-3 mt-5 mb-5">ข้อมูลลูกค้า</h1>
                <!-- ค้นหา -->
                <div class="control has-icons-left">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input v-model="input_cus" class="input" type="text" placeholder="ค้นหาชื่อลูกค้า" style="width: 200px; height: 40px;">
                </div>
                <!-- ตารางแสดงข้อมูลลูกค้า -->
                <table class="table is-bordered is-striped is-hoverable is-fullwidth mt-5">
                    <thead>
                        <tr>
                            <th class="has-text-centered">ชื่อ</th>
                            <th class="has-text-centered">นามสกุล</th>
                            <th class="has-text-centered">ป้ายทะเบียนรถ</th>
                            <th class="has-text-centered">จำนวนไมล์รถ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="has-text-centered">
                        <tr v-for="(customer, index) in search_cus">
                            <td>{{customer.CUSTOMER_FIRSTNAME}}</td>
                            <td>{{customer.CUSTOMER_LASTNAME}}</td>
                            <td>{{customer.CUSTOMER_NUMBER}}</td>
                            <td>{{customer.CUSTOMER_MILEAGE}}</td>
                            <td class="has-text-centered">
                                <a @click="classArray.push('is-active'), edit_cus(index)">
                                    <span class="icon">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="modal" :class="classArray">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">แก้ไขข้อมูลลูกค้า</p>
                            <button class="delete" aria-label="close" @click="classArray.pop()"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="content">
                                <div class="columns">
                                    <div class="column">
                                        <label>ชื่อ</label>
                                        <input v-model="edit.fname" class="input" />
                                    </div>
                                    <div class="column">
                                        <label>นามสกุล</label>
                                        <input v-model="edit.lname" class="input" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ป้ายทะเบียนรถ</label>
                                        <input v-model="edit.number" class="input" />
                                    </div>
                                    <div class="column">
                                        <label>จำนวนไมล์รถ</label>
                                        <input v-model="edit.mileage" class="input" type="number"/>
                                    </div>
                                </div>
                                
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button @click="update_emp" class="button is-link">Submit</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="./data/customer.js"></script>
    <script> 
        var app = new Vue({
            el: '#app',
            data: {
                classArray: ['modal'],
                customers: customer,
                edit:{
                    fname: null,
                    lname: null,
                    number: null,
                    mileage: null
                },
                search_cus: customer,
                input_cus: '',
                edit_index: null,
            },methods:{
                edit_cus(index){
                    edit_index = index
                    this.edit.fname = this.customers[edit_index].CUSTOMER_FIRSTNAME
                    this.edit.lname = this.customers[edit_index].CUSTOMER_LASTNAME
                    this.edit.number = this.customers[edit_index].CUSTOMER_NUMBER
                    this.edit.mileage = this.customers[edit_index].CUSTOMER_MILEAGE
                    
                },
                update_emp(){
                    this.customers[edit_index].CUSTOMER_FIRSTNAME = this.edit.fname 
                    this.customers[edit_index].CUSTOMER_LASTNAME = this.edit.lname 
                    this.customers[edit_index].CUSTOMER_NUMBER = this.edit.number
                    this.customers[edit_index].CUSTOMER_MILEAGE = this.edit.mileage
                    this.classArray.pop()
                }
            },watch:{
                input_cus: function(new_search){
                    this.search_cus = this.customers.filter(customer=>{
                        return customer.CUSTOMER_FIRSTNAME.toLowerCase().includes(new_search.toLowerCase()) || 
                            customer.CUSTOMER_LASTNAME.toLowerCase().includes(new_search.toLowerCase()) || 
                            (customer.CUSTOMER_FIRSTNAME+" "+customer.CUSTOMER_LASTNAME).toLowerCase().includes(new_search.toLowerCase())
                    })
                }
            }
            
        })

    </script>
</body>

</html>