<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/36abd084fe.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/36abd084fe.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="toggle" onclick="toggleMenu()"></div>
    <script src="scrips.js"></script>
    <div class="columns" id="app">
        <div class="column is-1">
            <div class="nav">
                <ul>
                    <li>
                        <a href="index.html">
                            <span class="icon"><i class="fa-solid fa-store"></i></i></span>
                            <span class="title">สินค้าในสต็อก</span>
                        </a>
                    </li>
                    <li>
                        <a href="purchase_history.html">
                            <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
                            <span class="title">การนำเข้าสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="sale_history.html">
                            <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                            <span class="title">การขายสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="customer.html">
                            <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <span class="title">ข้อมูลลูกค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="warehouse.html">
                            <span class="icon"><i class="fa-solid fa-warehouse"></i></span>
                            <span class="title">คลังสินค้า</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="register.html">
                            <span class="icon"><i class="fa-solid fa-registered"></i></span>
                            <span class="title">ลงทะเบียน</span>
                            
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                            <span class="title">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column is-11">
            <h1 class="has-text-weight-semibold is-size-3 mt-5 mb-5">สินค้าในสต็อก</h1>
            <!-- ปุ่ม search -->
            <div class="control has-icons-left">
                <div class="select">
                    <select v-model="type">
                        <option>ทั้งหมด</option>
                        <option>ล้อ</option>
                        <option>ยาง</option>
                    </select>
                </div>
                <span class="icon is-left">
                    <i class="fa fa-search"></i>
                </span>
                <span class="icon">
                    <i class="fa fa-search"></i>
                </span>
                <input class="input" v-model="id" type="text" placeholder="ค้นหารหัสสินค้า"
                    style="width: 200px; height: 40px;">

                <span class="icon">
                    <i class="fa fa-search"></i>
                </span>
                <input class="input" v-model="name" type="text" placeholder="ค้นหาชื่อสินค้า"
                    style="width: 200px; height: 40px;">

                <span class="icon">
                    <i class="fa fa-search"></i>
                </span>
                <input class="input" v-model="year" type="number" placeholder="ค้นหาปีของสินค้า"
                    style="width: 200px; height: 40px;">
            </div>
            <!-- ตารางแสดงสินค้า -->
            <table class="table is-bordered is-striped is-hoverable is-fullwidth mt-5">
                <thead>
                    <tr>
                        <th class="has-text-centered">รหัสสินค้า</th>
                        <th class="has-text-centered">ประเภทสินค้า</th>
                        <th class="has-text-centered">ชื่อสินค้า</th>
                        <th class="has-text-centered">รูปสินค้า</th>
                        <th class="has-text-centered">ยี่ห้อ</th>
                        <th class="has-text-centered">รุ่น</th>
                        <th class="has-text-centered">ขนาด</th>
                        <th class="has-text-centered">สัปดาห์</th>
                        <th class="has-text-centered">ปี</th>
                        <th class="has-text-centered">ที่เก็บ</th>
                        <th class="has-text-centered">จำนวน</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(product, index) in serach_product" class="has-text-centered">
                        <td>{{product.PRODUCT_ID}}</td>
                        <td>{{product.PRODUCT_TYPE}}</td>
                        <td>{{product.PRODUCT_NAME}}</td>
                        <td><img id="img_in_table" alt="product_img" :src="product.PRODUCT_IMAGE"></td>
                        <td>{{product.PRODUCT_MANNER}}</td>
                        <td>{{product.PRODUCT_VERSION}}</td>
                        <td>{{product.PRODUCT_SIZE}}</td>
                        <td>{{product.PRODUCT_WEEK}}</td>
                        <td>{{product.PRODUCT_YEAR}}</td>
                        <td>{{product.WARE_HOUSE_ID}}</td>
                        <td>{{product.PRODUCT_AMOUNT}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        
    </div>
    <script src="./data/product.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                modal: true,
                isActive: false,
                classArray: ['modal'],
                products: product,
                serach_product: product,
                id: '',
                name: '',
                year: '',
                type: '',
            },
            methods: {
                logout(){
                    localStorage.removeItem('username')
                }
            },

            watch: {
                id: function (new_search) {
                    this.serach_product = this.products.filter(product => {
                        return product.PRODUCT_ID.toLowerCase().includes(new_search.toLowerCase())
                    })
                    this.name = ''
                    this.year = ''
                    this.type = ''
                },
                name: function (new_search) {
                    this.serach_product = this.products.filter(product => {
                        return product.PRODUCT_NAME.toLowerCase().includes(new_search.toLowerCase())
                    })
                    this.id = ''
                    this.year = ''
                    this.type = ''
                },
                year: function (new_search) {
                    this.serach_product = this.products.filter(product => {
                        return product.PRODUCT_YEAR.toLowerCase().includes(new_search.toLowerCase())
                    })
                    this.name = ''
                    this.id = ''
                    this.type = ''
                },
                type: function (new_search) {
                    if (new_search === 'ทั้งหมด') {
                        this.serach_product = this.products
                    } else {
                        this.serach_product = this.products.filter(product => {
                            return product.PRODUCT_TYPE.toLowerCase().includes(new_search.toLowerCase())
                        })
                    }
                }
            },
        })
    </script>


</body>


</html>