<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <script src="navbar.js"></script>
  </head>

  <body>

    <section class="hero is-light is-bold is-fullheight" id="app">
      <div class="hero-body">
        <div class="container ">
          <div class="columns is-centered ">
            <div class="has-background-white is-5-mobile is-5-tablet is-4-desktop is-4-widescreen box">
              <div class="title has-text-centered mt-4">
                <h1>
                  SVAutotire Sale & Service
                </h1>
              </div>
              <div class="subtitle mt-4">
                <form method="get" class="">

                  <div class="field ">
                    <label class="label">ชื่อผู้ใช้งาน</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="กรอกชื่อผู้ใช้งาน" v-model="check_username">
                      <span class="has-text-danger">{{error.username}}</span>
                    </div>
                  </div>

                  <div class="field mt-5">
                    <label class="label">รหัสผ่าน</label>
                    <div class="control">
                      <input class="input" type="password" placeholder="กรอกรหัสผ่าน" v-model="check_password">
                      <span class="has-text-danger">{{error.password}}</span>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control has-text-centered" >
                      <a class="button is-info mb-4 mt-4 " @click="check_login()">เข้าสู่ระบบ</a>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- script -->
    <script src="./data/member.js"></script>
    <script>
      var app = new Vue({
          el: '#app',
          data: {
            check_username: '',
            check_password: '',
            members: member,
            error : {
              username: '',
              password: ''
            }
          },
          methods:{
            check_login(){
              console.log(this.check_username)
              console.log(this.check_password)
              if(this.members.filter(member =>{return member.emp_username.includes(this.check_username) || member.emp_password.includes(this.check_password)}).length !== 0){
                    localStorage.setItem('username', this.check_username)
                    location.replace("./index.html");
              }
              else{
                this.error.username = 'กรุณากรอกชื่อผู้ใช้งานให้ถูกต้อง'
                this.error.password = 'กรุณากรอกรหัสผ่านให้ถูกต้อง'
              }

              
            }
          },
        })
    </script>


  </body>


</html>