<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/36abd084fe.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/36abd084fe.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="toggle" onclick="toggleMenu()"></div>
    <script src="scrips.js"></script>
    <div class="columns">
        <div class="column is-1">
            <div class="nav">
                <ul>
                    <li>
                        <a href="index.html">
                            <span class="icon"><i class="fa-solid fa-store"></i></i></span>
                            <span class="title">สินค้าในสต็อก</span>
                        </a>
                    </li>
                    <li>
                        <a href="purchase_history.html">
                            <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
                            <span class="title">การนำเข้าสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="sale_history.html">
                            <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                            <span class="title">การขายสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="customer.html">
                            <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <span class="title">ข้อมูลลูกค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="warehouse.html">
                            <span class="icon"><i class="fa-solid fa-warehouse"></i></span>
                            <span class="title">คลังสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                            <span class="title">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="column is-11" id="app">
            <section class="mb-5">
                <h1 class="has-text-weight-semibold is-size-3 mt-5 mb-5">การนำเข้าสินค้า</h1>
                <div class="block">
                    <a class="button is-primary" @click="classArray2.push('is-active')">
                        <span class="icon">
                            <i class="fa-regular fa-square-plus fa-lg"></i>
                        </span>
                        <p>เพิ่มข้อมูลการนำเข้าสินค้า</p>
                    </a>
                </div>
                <div id="modal1" :class="classArray2">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">เพิ่มข้อมูลการนำเข้าสินค้า</p>
                            <button class="delete" aria-label="close" @click="classArray2.pop()"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="content">
                                <div class="columns">
                                    <div class="column">
                                        <label>รหัสสินค้า</label>
                                        <input v-model="add.id" class="input" />
                                    </div>
                                    <div class="column">
                                        <label>รูปสินค้า</label>
                                        <input type="file" id="img" name="img" accept="image/*">
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ชื่อสินค้า</label>
                                        <input v-model="add.name" class="input" />
                                    </div>
                                    <div class="column">
                                        <label>ประเภทสินค้า</label><br>
                                        <div class="select">
                                            <select v-model="add.type" class="select">
                                                <option value="ล้อ">ล้อ</option>
                                                <option value="ยาง">ยาง</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ยี่ห้อ</label>
                                        <input v-model="add.brand" class="input" />
                                    </div>
                                    <div class="column">
                                        <label>รุ่น</label>
                                        <input v-model="add.version" class="input" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ขนาด</label>
                                        <input v-model="add.size" class="input" />
                                    </div>
                                    <div class="column">
                                        <label>บริษัท</label>
                                        <input v-model="add.manner" class="input" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>สัปดาห์</label>
                                        <input v-model="add.week" class="input" type="number" />
                                    </div>
                                    <div class="column">
                                        <label>ปี</label>
                                        <input v-model="add.year" class="input" type="number" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>วันที่นำเข้า</label>
                                        <input v-model="add.date" class="input" type="date" />
                                    </div>
                                    <div class="column">
                                        <label>ที่เก็บ</label><br>
                                        <div class="select">
                                            <select v-model="add.warehouse" class="select">
                                                <option v-for="warehouse in warehouses">{{warehouse}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ราคาที่นำเข้า</label>
                                        <input v-model="add.price" class="input" type="number" />
                                    </div>
                                    <div class="column">
                                        <label>จำนวน</label>
                                        <input v-model="add.amount" class="input" type="number" />
                                    </div>
                                </div>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link"
                                            @click="add_product(), classArray2.pop()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="modal2" :class="{modal: modal, 'is-active': isActive}">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="card">
                            <div class="card-content">
                                <p class="title">
                                    ต้องการลบข้อมูลหรือไม่
                                </p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item has-background-primary">
                                    <span>
                                        <a class="has-text-white" @click="del_product()">ยืนยัน</a>
                                    </span>
                                </p>
                                <p class="card-footer-item has-background-danger">
                                    <span>
                                        <a class="has-text-white" @click="isActive=false">ยกเลิก</a>
                                    </span>
                                </p>
                            </footer>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" @click="isActive = false"></button>
                </div>
                <div id="modal3" :class="classArray">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">แก้ไขจำนวนสินค้า</p>
                            <button class="delete" aria-label="close" @click="classArray.pop()"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="content">
                                <div class="columns">
                                    <div class="column">
                                        <label>รหัสสินค้า</label>
                                        <input v-model="edit.id" class="input" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ชื่อสินค้า</label>
                                        <input v-model="edit.name" class="input" />
                                    </div>
                                    <div class="column">
                                        <label>ประเภทสินค้า</label><br>
                                        <div class="select">
                                            <select v-model="edit.type" class="select">
                                                <option value="ล้อ">ล้อ</option>
                                                <option value="ยางรถ">ยาง</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ยี่ห้อ</label>
                                        <input v-model="edit.manner" class="input" />
                                    </div>
                                    <div class="column">
                                        <label>รุ่น</label>
                                        <input v-model="edit.version" class="input" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ขนาด</label>
                                        <input v-model="edit.size" class="input" type="text" />
                                    </div>
                                    <div class="column">
                                        <label>บริษัท</label>
                                        <input v-model="edit.brand" class="input" type="text" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>สัปดาห์</label>
                                        <input v-model="edit.week" class="input" type="number" />
                                    </div>
                                    <div class="column">
                                        <label>ปี</label>
                                        <input v-model="edit.year" class="input" type="number" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ที่เก็บ</label><br>
                                        <div class="select">
                                            <select v-model="edit.warehouse" class="select">
                                                <option v-for="warehouse in warehouses">{{warehouse}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>จำนวนที่แก้ไข</label>
                                        <input v-model="edit.amount" class="input" type="number" />
                                    </div>
                                </div>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link"
                                            @click="update_product(), classArray.pop()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- search -->
                <div class="control has-icons-left">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input class="input" v-model="search_name" type="text" placeholder="ค้นหาชื่อสินค้า"
                        style="width: 200px; height: 40px;">

                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input class="input" v-model="search_manner" type="text" placeholder="ค้นหาบริษัท"
                        style="width: 200px; height: 40px;">

                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input class="input" v-model="search_date" type="date" placeholder="ค้นหาวันที่นำเข้าสินค้า"
                        style="width: 200px; height: 40px;">
                </div>
                <!-- ตารางแสดงข้อมูล -->
                <table class="table is-bordered is-striped is-hoverable is-fullwidth mt-5">
                    <thead>
                        <tr>
                            <th class="has-text-centered">รหัสสินค้า</th>
                            <th class="has-text-centered">ชื่อสินค้า</th>
                            <th class="has-text-centered">ประเภทสินค้า</th>
                            <th class="has-text-centered">รูปสินค้า</th>
                            <th class="has-text-centered">ยี่ห้อ</th>
                            <th class="has-text-centered">รุ่น</th>
                            <th class="has-text-centered">ขนาด</th>
                            <th class="has-text-centered">บริษัท</th>
                            <th class="has-text-centered">สัปดาห์</th>
                            <th class="has-text-centered">ปี</th>
                            <th class="has-text-centered">วันที่นำเข้า</th>
                            <th class="has-text-centered">ที่เก็บ</th>
                            <th class="has-text-centered">ราคาที่นำเข้า</th>
                            <th class="has-text-centered">จำนวน</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="has-text-centered" v-for="(product, index) in purchase_table">
                            <td>{{product.PRODUCT_ID}}</td>
                            <td>{{product.PRODUCT_NAME}}</td>
                            <td>{{product.PRODUCT_TYPE}}</td>
                            <td><img id="img_in_table" alt="product_img" :src="product.PRODUCT_IMAGE"></td>
                            <td>{{product.PRODUCT_MANNER}}</td>
                            <td>{{product.PRODUCT_VERSION}}</td>
                            <td>{{product.PRODUCT_SIZE}}</td>
                            <td>{{product.PURCHASE_BRAND}}</td>
                            <td>{{product.PRODUCT_WEEK}}</td>
                            <td>{{product.PRODUCT_YEAR}}</td>
                            <td>{{product.PRODUCT_DATE}}</td>
                            <td>{{product.WARE_HOUSE_ID}}</td>
                            <td>{{product.PURCHASE_PRICE}}</td>
                            <td>{{product.PRODUCT_AMOUNT}}</td>
                            <td class="has-text-centered">
                                <a @click="classArray.push('is-active'), edit_product(index)">
                                    <span class="icon">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                </a>
                            </td>
                            <td class="has-text-centered">
                                <a @click="isActive = true, del_index = index">
                                    <span class="icon"><i class="fa-solid fa-trash" style="color: red;"></i></span>
                                </a>

                            </td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <script src="./data/warehouse.js"></script>
    <script src="./data/product.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                modal: true,
                isActive: false,
                classArray: ['modal'],
                classArray2: ['modal'],
                warehouses: warehouse,
                add: {
                    id: null,
                    name: null,
                    type: null,
                    img: null,
                    brand: null,
                    version: null,
                    size: null,
                    manner: null,
                    week: null,
                    year: null,
                    date: null,
                    warehouse: null,
                    price: null,
                    amount: null,
                },
                edit: {
                    id: null,
                    name: null,
                    type: null,
                    img: null,
                    brand: null,
                    version: null,
                    size: null,
                    manner: null,
                    week: null,
                    year: null,
                    warehouse: null,
                    amount: null,
                },
                purchase: product,
                del_index: null,
                edit_index: null,
                search_name: '',
                search_manner: '',
                search_date: '',
                purchase_table: product

            }, methods: {
                add_product() {
                    let add = this.add
                    this.purchase.push({
                        PRODUCT_ID: add.id,
                        PRODUCT_NAME: add.name,
                        PRODUCT_MANNER: add.manner,
                        PRODUCT_VERSION: add.version,
                        PRODUCT_IMAGE: add.img,
                        PRODUCT_SIZE: add.size,
                        PRODUCT_WEEK: add.week,
                        PRODUCT_TYPE: add.type,
                        PRODUCT_YEAR: add.year,
                        PRODUCT_PRICE: add.price,
                        PRODUCT_AMOUNT: add.amount,
                        WARE_HOUSE_ID: add.warehouse,
                        PRODUCT_DATE: add.date,
                        PURCHASE_PRICE: add.price,
                        PURCHASE_BRAND: add.brand
                    })
                    add.id = ''
                    add.name = ''
                    add.manner = ''
                    add.version = ''
                    add.size = ''
                    add.week = ''
                    add.type = ''
                    add.year = ''
                    add.amount = ''
                    add.warehouse = ''
                    add.date = ''
                    add.price = ''
                    add.brand = ''
                },
                del_product() {
                    this.purchase.splice(this.del_index, 1)
                    this.isActive = false
                },
                edit_product(index) {
                    this.edit_index = index
                    let input = this.purchase[this.edit_index]
                    this.edit.id = input.PRODUCT_ID
                    this.edit.name = input.PRODUCT_NAME
                    this.edit.type = input.PRODUCT_TYPE
                    this.edit.brand = input.PURCHASE_BRAND
                    this.edit.version = input.PRODUCT_VERSION
                    this.edit.size = input.PRODUCT_SIZE
                    this.edit.manner = input.PRODUCT_MANNER
                    this.edit.year = input.PRODUCT_YEAR
                    this.edit.warehouse = input.WARE_HOUSE_ID
                    this.edit.amount = input.PRODUCT_AMOUNT
                    this.edit.week = input.PRODUCT_WEEK
                },
                update_product() {
                    this.purchase[this.edit_index].PRODUCT_ID = this.edit.id
                    this.purchase[this.edit_index].PRODUCT_NAME = this.edit.name
                    this.purchase[this.edit_index].PRODUCT_TYPE = this.edit.type
                    this.purchase[this.edit_index].PURCHASE_BRAND = this.edit.brand
                    this.purchase[this.edit_index].PRODUCT_VERSION = this.edit.version
                    this.purchase[this.edit_index].PRODUCT_SIZE = this.edit.size
                    this.purchase[this.edit_index].PRODUCT_MANNER = this.edit.manner
                    this.purchase[this.edit_index].PRODUCT_YEAR = this.edit.year
                    this.purchase[this.edit_index].WARE_HOUSE_ID = this.edit.warehouse
                    this.purchase[this.edit_index].PRODUCT_AMOUNT = this.edit.amount
                    this.purchase[this.edit_index].PRODUCT_WEEK = this.edit.week
                }
            }, watch: {
                search_name: function (new_search) {
                    this.purchase_table = this.purchase.filter(puds => {
                        return puds.PRODUCT_NAME.toLowerCase().includes(new_search.toLowerCase())
                    })
                    this.search_manner = ''
                    this.search_date = ''

                },
                search_manner: function (new_search) {
                    this.purchase_table = this.purchase.filter(puds => {
                        return puds.PURCHASE_BRAND.toLowerCase().includes(new_search.toLowerCase())
                    })
                    this.search_name = ''
                    this.search_date = ''
                }, search_date: function (new_search) {
                    this.purchase_table = this.purchase.filter(puds => {
                        return puds.PRODUCT_DATE.toLowerCase().includes(new_search.toLowerCase())
                    })
                    this.search_name = ''
                    this.search_manner = ''
                },
            }

        })
    </script>
</body>

</html>