* {
    font-family: 'Prompt', sans-serif;
}

#navbar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #253239;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #253239;
}

#navbar li {
    margin-top: 20px;
}

#navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    background-color: #253239;
}

#navbar a:hover {
    background-color: #414C52;
    color: white;
}

.drop-content {
    display: none;
}

.drop:hover .drop-content {
    display: block;
}

