<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/36abd084fe.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/36abd084fe.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="toggle" onclick="toggleMenu()"></div>
    <script src="scrips.js"></script>

    <div class="columns">
        <div class="column is-1">
            <div class="nav">
                <ul>
                    <li>
                        <a href="index.html">
                            <span class="icon"><i class="fa-solid fa-store"></i></i></span>
                            <span class="title">สินค้าในสต็อก</span>
                        </a>
                    </li>
                    <li>
                        <a href="purchase_history.html">
                            <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
                            <span class="title">การนำเข้าสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="sale_history.html">
                            <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                            <span class="title">การขายสินค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="customer.html">
                            <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <span class="title">ข้อมูลลูกค้า</span>
                        </a>
                    </li>
                    <li>
                        <a href="warehouse.html">
                            <span class="icon"><i class="fa-solid fa-warehouse"></i></span>
                            <span class="title">คลังสินค้า</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="register.html">
                            <span class="icon"><i class="fa-solid fa-registered"></i></span>
                            <span class="title">ลงทะเบียน</span>
                            
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                            <span class="title">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="column is-11">
            <section id="app">
                <h1 class="has-text-weight-semibold is-size-3 mt-5 mb-5">คลังสินค้า</h1>
                <!-- เพิ่มคลังสินค้า -->
                <div class="block">
                    <a class="button is-primary" @click="classArray2.push('is-active')">
                        <span class="icon">
                            <i class="fa-regular fa-square-plus fa-lg"></i>
                        </span>
                        <p>เพิ่มข้อมูลคลังสินค้า</p>
                    </a>
                </div>

                <!-- search -->
                <div class="control has-icons-left">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input class="input" v-model="input_warehouse" type="text" placeholder="ค้นหาคลังสินค้า" style="width: 200px; height: 40px;">
                </div>
                <!-- ตารางแสดงข้อมูลคลังสินค้า -->
                <table class="table is-bordered is-striped is-hoverable is-fullwidth mt-5 has-text-centered">
                    <thead>
                        <tr>
                            <th class="has-text-centered">รหัสคลังสินค้า</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody v-for="(warehouse, index) in warehouse_table">
                        <td>{{warehouse}}</td>

                        <td class="has-text-centered">
                            <a @click="classArray.push('is-active')">
                                <span class="icon">
                                    <i class="fas fa-pen"></i>
                                </span>
                            </a>
                        </td>
                        <td class="has-text-centered">
                            <a @click="isActive = true">
                                <span class="icon">
                                    <i class="fas fa-trash has-text-danger"></i>
                                </span>
                            </a>
                        </td>
                    </tbody>
                </table>

                <div id="modal" :class="{modal: modal, 'is-active': isActive}">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="card">
                            <div class="card-content">
                                <p class="title">
                                    ต้องการลบข้อมูลคลังสินค้าหรือไม่
                                </p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item has-background-primary">
                                    <span>
                                        <a class="has-text-white">ยืนยัน</a>
                                    </span>
                                </p>
                                <p class="card-footer-item has-background-danger">
                                    <span>
                                        <a class="has-text-white">ยกเลิก</a>
                                    </span>
                                </p>
                            </footer>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" @click="isActive = false"></button>
                </div>

                <div id="modal1" :class="classArray2">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">เพิ่มข้อมูลคลังสินค้า</p>
                            <button class="delete" aria-label="close" @click="classArray2.pop()"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="content">
                                <div class="columns">
                                    <div class="column">
                                        <label>รหัสคลังสินค้า</label>
                                        <input v-model="add" class="input"/>
                                    </div>
                                    <div class="column">
                                    </div>
                                </div>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button @click="add_warehouse()" class="button is-link">Submit</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div id="modal2" :class="classArray">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">แก้ไขข้อมูลคลังสินค้า</p>
                            <button class="delete" aria-label="close" @click="classArray.pop()"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="content">
                                <div class="columns">
                                    <div class="column">
                                        <label>รหัสสินค้า</label>
                                        <input class="input" />
                                    </div>
                                    <div class="column">
                                        <label>ชื่อสินค้า</label>
                                        <input class="input" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <label>ที่เก็บที่แก้ไข</label>
                                        <input class="input" />
                                    </div>
                                    <div class="column">
                                        <label>จำนวนที่แก้ไข</label>
                                        <input class="input" type="number"/>
                                    </div>
                                </div>
                                
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link">Submit</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="./data/warehouse.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                modal: true,
                isActive: false,
                classArray: ['modal'],
                classArray2: ['modal'],
                warehouses: warehouse,
                add: null,
                input_warehouse: '',
                warehouse_table: warehouse,
            },
            methods:{
                add_warehouse(){
                    this.warehouses.push(this.add)
                    this.add = null
                    this.classArray2.pop()
                }
            },watch:{
                input_warehouse: function(new_search){
                    this.warehouse_table = this.warehouses.filter(warehouse=>{
                        return warehouse.toLowerCase().includes(new_search.toLowerCase())
                    })
                }
            }
        })
    </script>
</body>
</html>